<% include ../shared_folder/header %>
    <div class="container">
            <div class="card-deck mb-3 text-center">
              <div class="card mb-4 box-shadow">
                <div class="card-header">
                  <h4 class="my-0 font-weight-normal">Register</h4>
                </div>
                
              </div>
            </div>
    </div>
<% include ../shared_folder/footer %>