
<!DOCTYPE html>
<html lang="en">
<head>
<% include ../../_shared_folder/_header %>
<link rel="stylesheet" type="text/css" href="../../styles/category.css">
<link rel="stylesheet" type="text/css" href="../../styles/category_responsive.css">
<title>Up Coming Movies</title>
</head>

	<!-- Header -->
	<% include ../../_shared_folder/_navbar %>

<div class="home" style="background:#ededed;height: 60px;"></div>
	<!-- Page Content -->
  
	<div class="page_content">
		<div class="container">
			<div class="row row-lg-eq-height">

				<!-- Main Content -->

				<div class="col-lg-12">
					<div class="main_content">

						<!-- Category -->

						<div class="category">
							<div class="section_panel d-flex flex-row align-items-center justify-content-start">
								<div class="section_title">Movie Allocation Panel</div>
								<div class="section_tags ml-auto">
									<ul>
										<li><a href="/admin/upload">Home</a></li>
										<li><a href="/admin/movie_upload">Upload Movie</a></li>
										<li class="active"><a href="/admin/movie_allocation">Allocate Movie</a></li>
									</ul>
								</div>
							</div>
							<div class="section_content">
								
							</div>
						</div>

					</div>
					<div class="load_more">
						<div id="load_more" class="load_more_button text-center trans_200">Load More</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <% include ../../_shared_folder/_footer%>
    <script src="../../plugins/parallax-js-master/parallax.min.js"></script>
   
    </body>
    </html>