
<!DOCTYPE html>
<html lang="en">
<head>
<% include _shared_folder/header %>
<link rel="stylesheet" type="text/css" href="../../styles/main_styles.css">
<link rel="stylesheet" type="text/css" href="../../styles/responsive.css">
<link rel="stylesheet" type="text/css" href="../../styles/regular.css">
<link rel="stylesheet" type="text/css" href="../../styles/regular_responsive.css">
<title>faq</title>
</head>

	<!-- Header -->
	<% include _shared_folder/navbar %>
    <div class="home">
		<div class="home_background parallax-window" data-parallax="scroll" data-image-src="images/regular.jpg" data-speed="0.8"></div>
	</div>
	
	<!-- Page Content -->

	<div class="page_content">
		<div class="container">
			<div class="row">

				<!-- Post Content -->

                <div class="col-lg-12">
                        <div class="main_content">
            
                            <!-- Blog Section - Don't Miss -->
            
                            <div class="blog_section">
                                
                                <div class="section_content">
                                    <div class="grid clearfix" style="position: relative; height: 597.2px;">
            
                                        <!-- Largest Card With Image -->
                                        <div class="card card_largest_with_image grid-item" style="position: absolute; left: 0px; top: 0px;">
                                            <img class="card-img-top" src="images/post_1.jpg" alt="https://unsplash.com/@cjtagupa">
                                            <div class="card-body">
                                                <div class="card-title"><a href="post.html">How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</a></div>
                                                <p class="card-text">Pick the yellow peach that looks like a sunset with its red, orange, and pink coat skin, peel it off with your teeth. Sink them into unripened...</p>
                                                <small class="post_meta"><a href="#">Katy Liu</a><span>Sep 29, 2017 at 9:48 am</span></small>
                                            </div>
                                        </div>
            
                                        <!-- Small Card Without Image -->
                                        <div class="card card_default card_small_no_image grid-item" style="position: absolute; left: 586px; top: 0px;">
                                            <div class="card-body">
                                                <div class="card-title card-title-small"><a href="post.html">How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</a></div>
                                                <small class="post_meta"><a href="#">Katy Liu</a><span>Sep 29, 2017 at 9:48 am</span></small>
                                            </div>
                                        </div>
            
                                        <!-- Small Card With Background -->
                                        <div class="card card_default card_small_with_background grid-item" style="position: absolute; left: 586px; top: 170px;">
                                            <div class="card_background" style="background-image:url(images/post_4.jpg)"></div>
                                            <div class="card-body">
                                                <div class="card-title card-title-small"><a href="post.html">How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</a></div>
                                                <small class="post_meta"><a href="#">Katy Liu</a><span>Sep 29, 2017 at 9:48 am</span></small>
                                            </div>
                                        </div>
            
                                        <!-- Small Card With Image -->
                                        <div class="card card_small_with_image grid-item" style="position: absolute; left: 0px; top: 340px;">
                                            <img class="card-img-top" src="images/post_2.jpg" alt="https://unsplash.com/@jakobowens1">
                                            <div class="card-body">
                                                <div class="card-title card-title-small"><a href="post.html">How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</a></div>
                                                <small class="post_meta"><a href="#">Katy Liu</a><span>Sep 29, 2017 at 9:48 am</span></small>
                                            </div>
                                        </div>
            
                                        <!-- Small Card With Image -->
                                        <div class="card card_small_with_image grid-item" style="position: absolute; left: 293px; top: 340px;">
                                            <img class="card-img-top" src="images/post_3.jpg" alt="https://unsplash.com/@jannerboy62">
                                            <div class="card-body">
                                                <div class="card-title card-title-small"><a href="post.html">How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</a></div>
                                                <small class="post_meta"><a href="#">Katy Liu</a><span>Sep 29, 2017 at 9:48 am</span></small>
                                            </div>
                                        </div>
            
                                        <!-- Default Card No Image -->
            
                                        <div class="card card_default card_default_no_image grid-item" style="position: absolute; left: 586px; top: 341px;">
                                            <div class="card-body">
                                                <div class="card-title card-title-small"><a href="post.html">How Did van Gogh’s Turbulent Mind Depict One of the Most</a></div>
                                            </div>
                                        </div>
            
                                        <!-- Default Card No Image -->
            
                                        <div class="card card_default card_default_no_image grid-item" style="position: absolute; left: 586px; top: 426px;">
                                            <div class="card-body">
                                                <div class="card-title card-title-small"><a href="post.html">How Did van Gogh’s Turbulent Mind Depict One of the Most</a></div>
                                            </div>
                                        </div>
            
                                        <!-- Default Card No Image -->
            
                                        <div class="card card_default card_default_no_image grid-item" style="position: absolute; left: 586px; top: 511px;">
                                            <div class="card-body">
                                                <div class="card-title card-title-small"><a href="post.html">How Did van Gogh’s Turbulent Mind Depict One of the Most</a></div>
                                            </div>
                                        </div>
            
                                    </div>
                                </div>
                            </div>
            
                           
                          
            
                        </div>
                        <div class="load_more">    </div>
                    </div>
            

			</div>

		</div>

    </div>
    
   

<% include _shared_folder/footer%>
<script src="../../plugins/parallax-js-master/parallax.min.js"></script>
<script src="../../js/regular.js"></script>
</body>
</html>