

<!-- Footer -->
<footer class="footer">
    <div class="container">
      <div class="row row-lg-eq-height">
        <div class="col-lg-4 order-lg-1 order-2">
          <div class="footer_content">
            <div class="footer_social">
              <ul>
                <li class="footer_social_facebook"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li class="footer_social_twitter"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li class="footer_social_pinterest"><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                <li class="footer_social_vimeo"><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                <li class="footer_social_instagram"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li class="footer_social_google"><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
              </ul>
            </div>
            <div class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
          </div>
        </div>
        <div class="col-lg-8 order-lg-1 order-2">
            <div class="footer_content">
              <div class="footer_social">
                <ul>
                  <li><a href="/about-us">About Us</a></li>
                  <li><a href="/faq">FAQ</a></li>
                  <li><a href="/terms-of-use">Terms of Use</a></li>
                  <li><a href="/privacy-policy">Privacy Policy</a></li>
                  <li><a href="/contact-us">Contact Us</a></li>
               </ul>
              </div>
          </div>
      </div>
    </div>
  </footer>
  </div>
  <script src="../../jquery/dist/jquery.js"></script>
  <script src="../../styles/bootstrap4/popper.js"></script>
  <script src="../../bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="../../plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
  <script src="../../plugins/jquery.mb.YTPlayer-3.1.12/jquery.mb.YTPlayer.js"></script>
  <script src="../../plugins/easing/easing.js"></script>
  <script src="../../plugins/masonry/masonry.js"></script>