<body>

    <div class="super_container">
    
      <!-- Header -->
    
      <header class="header scrolled">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="header_content d-flex flex-row align-items-center justify-content-start">
                <div class="logo">
                    <a href="/"><img src="../../images/foto1.png" alt="CrackTV" width="100px" height="100px">
                      <span style="color:#000;margin-left:2.5%;font-size:30px;position:absolute;top: 30px;left: 90px;" class="tume cool">Oncrack<b style="color:red;">TV</b></span>
                      
                      
                    </a>
                </div>
                <div class="search_container ml-auto">
                  <nav class="main_nav">
                    <ul>
                      <li><a href="/admin/">Dashboard</a></li>
                      <li><a href="/admin/setup">Setup</a></li>
                      <li><a href="/admin/upload">Upload</a></li>
                      <li><a href="/admin/approval">Approval</a></li>
                      <li><a href="/admin/report">Report</a></li>
                      <li class="load_more_button text-center trans_200"><a href="/login">Logout</a></li>
                    </ul>
                  </nav>
                </div>
                <div class="hamburger ml-auto menu_mm">
                  <i class="fa fa-bars trans_200 menu_mm" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
    
      <!-- Menu -->
    
      <div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400">
        <div class="menu_close_container"><div class="menu_close"><div></div><div></div></div></div>
        <div class="logo menu_mm"><a href="#">Avision</a></div>
        <div class="search">
          <form action="#">
            <input type="search" class="header_search_input menu_mm" required="required" placeholder="Type to Search...">
            <img class="header_search_icon menu_mm" src="images/search_2.png" alt="">
          </form>
        </div>
        <nav class="menu_nav">
          <ul class="menu_mm">
            <li class="menu_mm"><a href="index.html">home</a></li>
            <li class="menu_mm"><a href="#">Fashion</a></li>
            <li class="menu_mm"><a href="#">Gadgets</a></li>
            <li class="menu_mm"><a href="#">Lifestyle</a></li>
            <li class="menu_mm"><a href="#">Video</a></li>
            <li class="menu_mm"><a href="contact.html">Contact</a></li>
          </ul>
        </nav>
      </div>