
    <div class="alert alert-danger" role="alert" ng-show="validate_result.contains_validation_error"> 
            <h4 class="alert-heading">Please Fixed all this error before submiting this form</h4>
            <div>
                    <ul id="error_message" class="alert alert-danger"></ul>
            </div>
           
    </div>
